/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
//
    $page_font_color: black;
    $page_font_color_hover: grey;
//
//mixin
    @mixin flex_centr() {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    @mixin box_sizing() {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    @mixin transform_rotate($x) {
        transform: rotate($x);
        -webkit-transform: rotate($x);
        -moz-transform: rotate($x);
    }
//

//class active menu align-items: 
.active {
    background-color: rebeccapurple !important;
    border-right: none !important;
}
.active_content {
    left: 0 !important;
}
//

body {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    background-color: lightslategrey;
    padding-top: 100px;
    padding-bottom: 100px;
}

.page_header {
    background-color: white;
     display: flex;
     justify-content: space-around;
     align-items: center;
     padding: 50px;


    .logo {
        color: $page_font_color;
        font-size: 35px;
        position: relative;
        width: 100px;
        height: 100px;
        @include flex_centr;
        z-index: 10;
        font-weight: bold;
        cursor: pointer;

            .border {
                position: absolute;
                content: '';
                width: 100px;
                height: 100px;
                top: 0;
                left: 0;
                @include transform_rotate(45deg);
                border: 1px solid black;
                z-index: -1;
                @include box_sizing;
                transition: all 2s linear;
                -webkit-transition: all 2s linear;
                -moz-transition: all 2s linear;
            }

            .border2 {
                @extend .border;
                @include transform_rotate(0);
            }

            &:hover .border {
                @include transform_rotate(405deg);
            }

            &:hover .border2 {
                @include transform_rotate(-360deg);

            }
    }

    h1 {
        font-size: 50px;
        color: $page_font_color;
    }
    
}

.main_page{
    display: flex;
    background-color: white;
    padding: 50px;
    border-collapse: collapse;
    position: relative;

    .menu {
        width: 30%;
        border: 1px solid black;
        border-right: none;
        @include box_sizing;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        ul {
            width: 100%;
            display: flex;
            flex-direction: column;


            li {
                width: 100%;
                padding: 20px;
                font-size: 35px;
                border-bottom: 1px solid black;
                border-right: 1px solid black;
                @include box_sizing;
                color: $page_font_color;

                &:hover {
                    cursor: pointer;
                    color: $page_font_color_hover;
                    background-color: lightgrey;

                }
            }                     
        }
         span {
                display: block;
                padding: 10px;
        }  
    }  

    .square {
        position: absolute;
        width: 30px;
        height: 30px;
        border: 5px solid grey;
        background-color: white;
        top: 32px;
        right: 32px;
        z-index: 10;
    }

    .content {
        width: 70%;
        @include box_sizing;
        border: 1px solid black;
        border-left: none;
        background-color: rebeccapurple;
        color: $page_font_color;
        overflow: hidden;
        position: relative;


        .content_menu {
            display: none;
            flex-direction: column;
            padding: 20px;
            position: relative;
            left: 100%;
            transition: all 1s ease;
            -webkit-transition: all 1s ease;
            -moz-transition: all 1s ease;

            .column1 {
                columns: 2 150px;
                -webkit-columns: 2 150px;
                -moz-columns: 2 150px;
                column-gap: 30px;
                -webkit-column-gap: 30px;
                -moz-column-gap: 30px;
                padding-bottom: 50px;
   
            }

            .column2 {
                columns: 3 80px;
                -webkit-columns: 3 80px;
                -moz-columns: 3 80px;
                column-gap: 30px;
                -webkit-column-gap: 30px;
                -moz-column-gap: 30px;
                padding-bottom: 50px;
            }

            .column3 {
                display: flex;
                
                .col1 {
                    width: 30%;
                    @include box_sizing;
                    min-width: 80px;
                }
                .col2 {
                    width: 70%;
                    @include box-sizing;
                    padding-left: 20px;
                }
            }
        }
    }  
}
@media screen and (max-width: 750px) {
    .page_header {
        flex-direction: column;

        .logo{
            padding-bottom: 20px;
        }

        h1{
            text-align: center;
        }
    }
}

@media screen and (max-width: 600px) {
    .main_page {
        flex-direction: column;

        .menu{
            width: 100%;
            border: 1px solid black;
        }

        .content {
            width: 100%;

            .column3 {
                flex-wrap: wrap;

                .col1 {
                    width: 100% !important;
                }

                .col2 {
                    width: 100% !important;
                    padding-left: 0 !important;
                }
            }
        }
    }
}