/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 30, ../sass/screen.scss */
.active {
  background-color: rebeccapurple !important;
  border-right: none !important;
}

/* line 36, ../sass/screen.scss */
body {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  background-color: lightslategrey;
  padding-top: 100px;
  padding-bottom: 100px;
}

/* line 45, ../sass/screen.scss */
.page_header {
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
}
/* line 53, ../sass/screen.scss */
.page_header .logo {
  color: black;
  font-size: 35px;
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  font-weight: bold;
  cursor: pointer;
}
/* line 64, ../sass/screen.scss */
.page_header .logo .border, .page_header .logo .border2 {
  position: absolute;
  content: '';
  width: 100px;
  height: 100px;
  top: 0;
  left: 0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  border: 1px solid black;
  z-index: -1;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  transition: all 2s linear;
  -webkit-transition: all 2s linear;
  -moz-transition: all 2s linear;
}
/* line 80, ../sass/screen.scss */
.page_header .logo .border2 {
  transform: rotate(0);
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
}
/* line 85, ../sass/screen.scss */
.page_header .logo:hover .border, .page_header .logo:hover .border2 {
  transform: rotate(405deg);
  -webkit-transform: rotate(405deg);
  -moz-transform: rotate(405deg);
}
/* line 89, ../sass/screen.scss */
.page_header .logo:hover .border2 {
  transform: rotate(-360deg);
  -webkit-transform: rotate(-360deg);
  -moz-transform: rotate(-360deg);
}
/* line 95, ../sass/screen.scss */
.page_header h1 {
  font-size: 50px;
  color: black;
}

/* line 102, ../sass/screen.scss */
.main_page {
  display: flex;
  background-color: white;
  padding: 50px;
  border-collapse: collapse;
}
/* line 108, ../sass/screen.scss */
.main_page .menu {
  width: 30%;
  border: 1px solid black;
  border-right: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
/* line 114, ../sass/screen.scss */
.main_page .menu ul {
  width: 100%;
  display: flex;
  flex-direction: column;
}
/* line 119, ../sass/screen.scss */
.main_page .menu ul li {
  width: 100%;
  padding: 20px;
  font-size: 35px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: black;
}
/* line 128, ../sass/screen.scss */
.main_page .menu ul li:hover {
  cursor: pointer;
  color: grey;
  background-color: lightgrey;
}
/* line 138, ../sass/screen.scss */
.main_page .content {
  width: 70%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid black;
  border-left: none;
  background-color: rebeccapurple;
  color: black;
}
/* line 146, ../sass/screen.scss */
.main_page .content .content_menu {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
/* line 151, ../sass/screen.scss */
.main_page .content .content_menu .column1 {
  columns: 2 150px;
  -webkit-columns: 2 150px;
  -moz-columns: 2 150px;
  column-gap: 30px;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  padding-bottom: 50px;
}
/* line 162, ../sass/screen.scss */
.main_page .content .content_menu .column2 {
  columns: 3 80px;
  -webkit-columns: 3 80px;
  -moz-columns: 3 80px;
  column-gap: 30px;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  padding-bottom: 50px;
}
/* line 172, ../sass/screen.scss */
.main_page .content .content_menu .column3 {
  display: flex;
}
/* line 175, ../sass/screen.scss */
.main_page .content .content_menu .column3 .col1 {
  width: 30%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  min-width: 80px;
}
/* line 180, ../sass/screen.scss */
.main_page .content .content_menu .column3 .col2 {
  width: 70%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding-left: 20px;
}
